{% extends 'base.html' %}
{% load crispy_forms_tags %}
<html>
    <head>

    </head>
    <body>
        {% block content %}
        <div class="container mt-4">
            <p><b>An email with the password reset link has been sent to your mail. Follow the steps through to reset your password!</b></p>
            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                
            </form> 
        </div>
        {% endblock content %}   
    </body>
</html>